// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid gray;
}


	html, body {
		height: 100%;

	}

	 header {
		background: lightgrey;
		padding-bottom: 10px;
						
	}

	nav {
		padding-top: 20px;
		
		a {
			float: right;
			text-decoration: none;
			font-family: Roboto;
			font-size: 16px;
			color: black;
			padding: 40px 20px;
		}	
	}

	.varrick {
		width: 30%;
		padding: 20px 20px;
	}

	h1 {
		font-size: 40px;
		font-family: Merriweather;
		padding: 10px;
	}

	h3 { 
		font-size: 20px;
		font-family: Merriweather;
		padding: 10px;
		
		
    }

	p {
		font-family: Roboto;
		padding: 10px;
		
		
    }

	.lets-team-up-btn {
		display: block;
		background-color: #fc6;
		border: 1px solid red;
		width: 15%;
		height: 40px;
		margin: 20px 10px;
		font-size: 20px;
		color: red;
		border-radius: 15px;
	}

	
	.middleText p {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		line-height: 1.5;
		width:35%;
		margin-right: 0;
		border-bottom: 2px solid lightgrey;
	}

	 li {
		list-style-type: square; 
		font-family: Roboto;
		line-height: .5;
		padding: 25px;
			
	}

	.bottomText ul {
		margin: 2.9%;
		list-style-type: square; 
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding-top: 5px;
	}